body {
    background-color: #D2B48C;
}

.wrap {text-align:center; width:90%; margin: 0 auto; border: 1px solid black;
margin-top:25px;}

.header {text-align: left; padding:25px; background-color:#F08080;}

.headerImg {float:left; width: 200px;}
.headerText{float:left; height:105px; padding-top:50px; padding-left:50px;
margin-left: 10%;}

.main {text-align:center; padding:25px; background-color:#FFFF99;}
.footer{text-align:Center; padding:25px; background-color:#F08080;}

input[readonly] {background-color:gray;}


.navcontainer{padding-left: 30px; text-align:left; background-color:#F08080;}

.navlist {
    list-style:none;
    padding: 0;
    margin: 0;
    background-color:#F08080;
    
}

.navlist li {
    background-color:#F08080;
    display: inline;
    padding: 0;
    margin: 0;
    
        
}

.navlist li:before{content: "";}
.navlist li:PLAYERNAME:before {content: "";}

* html #navlist li {
    border-left: 1px solid black;
}
* html #navlist{ height: 1%;}

* html #navlist li{
    display:block;
    float: left;
    
}

h1{
    text-align: left;
}

a{
    color: Blue;
    font-size: 20px;
    margin-bottom: 20px;
}

form label{
    float: left;
    color: white;
}

td a{
    margin-left: 0%;
    color: blue;
    
}

table, th, td {
    border-collapse: collapse;
    margin-left: 10%;
    padding: 10px;
    
}

table, th, td {
    border: 3px solid #FFFFFF;
}

table{
    width: 80%;
}

th {
    height: 70px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFF99;
}

tr{
    background-color: #F08080;
}

td{
    height: 50px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

tr:hover {
    background-color: #CCCCCC;
    color:black;
}

tr:nth-child(even) {
    background-color: #F08080;
    color: #FFFFFF;
}

tr:nth-child(even):hover {
    background-color: #CCCCCC;
    color: black;
}


        







